@{
    ViewBag.Title = "Show Claims";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@model IEnumerable<System.Security.Claims.Claim>
<dl>
    @foreach (var claim in Model)
    {
        <dt>@claim.Type</dt>
        <dt>@claim.Value</dt>

    }
    
</dl>